{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/chart-3.4.0.js' %}"></script>
<script src="{% static 'js/review/review.js' %}"></script>
<link href="{% static 'css/review/review.css' %}" rel="stylesheet">


<!-- sub_detail_menu -->
<div class="detail_menu">
    <button class="tablinks {% if review_tab == 'half' %} activate {% endif %}" onclick="javascript:go_page('half', {{comp_uid}})">반기별</button>
    <button class="tablinks {% if review_tab == 'quart' %} activate {% endif %}" onclick="javascript:go_page('quart', {{comp_uid}})">분기별</button>
</div>

<!-- Halfyear -->
<div id="reivew_cont" class="tabcontent">

    <!-- review body -->
    <div class="review_all_view_cont">
        <!-- Chart Section -->

        <div class="review_chart_cont">
            <!-- line graph : keyword & rates -->
            <canvas id="reviewChart"></canvas>
            <!-- word cloud : keyword -->
            <canvas id="reviewWordcloud"></canvas>
        </div>

        <div class="average_cont">
            <!-- review all rate -->
            <p class="all_rate">총 별점<span class="rate_num"><img class="star" src="{% static 'img/star.png' %}" alt="star"/>{{rate_sum}}</span></p>

            <!-- review best keyword 5 -->
            <div class="best_keyword">
                <p class="best_keyword_title">이 회사의 중요 키워드</p>
                <ul class="best_keyword_text">
                    {% for keyword in total_keywords %}
                    <li>{{keyword}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    <!-- pos / neg review -->
    <div class="review_detail_cont">

        <!-- pos review container -->
        <div class="pos_reviews">
            <div class="review_pos_title">
                <h1><span class="positive">긍정적</span>&nbsp;리뷰</h1>
                <h2>{{pos_sum}}</h2>
            </div>
            <!-- pos review conts -->
            <div>
                {% for pos in pos_review %}
                <h4 style="color: {{pos.color}}">{{pos.is_office}}</h4>
                <p style="margin-bottom: 20px;">{{pos.cont}}</p>
                {% endfor %}
            </div>
        </div>

        <div class="center_line"></div>

        <!-- neg review container -->
        <div class="neg_reviews">
            <div class="review_neg_title">
                <h1><span class="negative">부정적</span>&nbsp;리뷰</h1>
                <h2>{{neg_sum}}</h2>
            </div>
            <!-- neg reivew conts -->
            <div>
                {% for neg in neg_review %}
                <h4 style="color:{{neg.color}}">{{neg.is_office}}</h4>
                <p style="margin-bottom: 20px;">{{neg.cont}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}