{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/chart-3.4.0.js' %}"></script>
<script src="{% static 'js/review/review.js' %}"></script>
<link href="{% static 'css/review/review.css' %}" rel="stylesheet">

<!-- graph JS -->
<script type="text/javascript">
// ========================================
// Chart 관련
// ========================================
function go_chart(cols, rate, keyword, freq){
    const data = {
        labels: cols,
        datasets: [
            {
                label: '평균 별점'
                , data: rate
                , borderColor : 'skyblue'
            }, {
                label: '대표 키워드'
                , data: keyword
            }
        ]
    };
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: false,
            plugins: {
                legend: { display: false}
                , title: {
                    display: true,
                    text: '리뷰 통계'
                }
            }
            , scales: {
                y: {
                    suggestedMin: 0
                    , suggestedMax: 5
                    , ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    };
    const el = document.getElementById('review_chart'); // 차트 들어갈 element
    const pieChart = new Chart(el, config);
}

// 더보기 버튼 클릭시
function show_details(){
    $('.comp_news').css('height', 'auto');
    $('#details_box').css('display', 'none');
}
</script>

<!-- sub_detail_menu -->
<div class="detail_menu">
    <button class="tablinks {% if review_tab == 'half' %} activate {% endif %}" onclick="javascript:go_page('half', {{comp_uid}})">반기별</button>
    <button class="tablinks {% if review_tab == 'quart' %} activate {% endif %}" onclick="javascript:go_page('quart', {{comp_uid}})">분기별</button>
</div>

<!-- Halfyear -->
<div id="reivew_cont" class="tabcontent">

    <!-- review body -->
    <div class="review_all_view_cont">
        <!-- Chart Section -->

        <div class="review_chart_cont">
            <div style="width: 40%">
                <!-- line graph : keyword & rates -->
                <canvas id="review_chart" width="600"></canvas>
            </div>
            <!-- word cloud : keyword -->
            <canvas id="reviewWordcloud"></canvas>
        </div>

        <div class="average_cont">
            <!-- review all rate -->
            <p class="all_rate">총 별점<span class="rate_num"><img class="star" src="{% static 'img/star.png' %}" alt="star"/>{{rate_sum}}</span></p>

            <!-- review best keyword 5 -->
            <div class="best_keyword">
                <p class="best_keyword_title">이 회사의 중요 키워드</p>
                <ul class="best_keyword_text">
                    {% for keyword in total_keywords %}
                    <li>{{keyword}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    <!-- pos / neg review -->
    <div class="review_detail_cont">

        <!-- pos review container -->
        <div class="review_cont">
            <div class="review_subtitle">
                <h1><span style="color: #699BF7">긍정적</span>&nbsp;리뷰</h1>
                <h2>{{pos_sum}}</h2>
            </div>
            <!-- pos review conts -->
            <div>
                {% for pos in pos_review %}
                <h4 style="color: {{pos.color}}">{{pos.is_office}}</h4>
                <p style="margin-bottom: 20px;">{{pos.cont}}</p>
                {% endfor %}
            </div>
        </div>

        <div class="vertical_rule"></div>

        <!-- neg review container -->
        <div class="review_cont">
            <div class="review_subtitle">
                <h1><span style="color: #FF9984">부정적</span>&nbsp;리뷰</h1>
                <h2>{{neg_sum}}</h2>
            </div>
            <!-- neg reivew conts -->
            <div>
                {% for neg in neg_review %}
                <h4 style="color: {{neg.color}}">{{neg.is_office}}</h4>
                <p style="margin-bottom: 20px;">{{neg.cont}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- graph JS -->
<script type="text/javascript">






// safe 설정 안해줄 경우 list 깨짐 현상 발생.
keyword_strings = {{time_keyword | safe}};
time_cols = {{time_cols | safe}};
time_rate = {{time_rate | safe}};

// 횟수별로 나눠줍니다.
var time_keyword = [];
var time_freq = []; // 빈도수

for(let i=0; i<keyword_strings.length; i++){
    // 값이 들어갈 수 있게 빈 리스트 생성
    time_keyword[i] = [];
    time_freq[i] = [];

    // 키워드와 빈도수 split
    for (let j=0; j < keyword_strings[i].length; j++){
        time_keyword[i][j] = keyword_strings[i][j].split('_')[0];
        time_freq[i][j] = keyword_strings[i][j].split('_')[1];
    }
}
go_chart(time_cols, time_rate, time_keyword, time_freq);
</script>
{% endblock %}