<!DOCTYPE html>
<!-- load static -->
{% load static %}
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>EZPZ</title>

<!-- Favicons 
<link href="static/img/favicon.png" rel="icon">
<link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
-->

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<!-- CSS templates -->
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/search/search.css' %}" rel="stylesheet">

<!-- JS -->
<script src="{% static 'js/lib/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/ezpz.js' %}"></script>
</script>
</head>
<body>
    <!-- 검색창 header START -->
    <header id="header" class="fixed-top">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center flex-grow-1 text-center">
                <h1>
                    <a class="logo" href="/">Logo</a>
                </h1>
            </div>
        </div>
    </header>
    <!-- 검색창 header END -->



    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

            <h1>Searching!</h1>

            <form id="search-form" class="search-mode" name="search_form" action="javascript:search_method()" method="get">
                <input type="text" name="q" placeholder="기업명을 입력해주세요.">
                <button type="submit">검색</button>
                {% if search_result is not None %}
                <div id="search_result_container">
                    <div id="search_result_header">검색 가능한 기업이 {{search_result|length}}개가 있습니다.</div>
                    {% for result, uid in search_result %}
                    <a href="/comp/?comp_uid={{uid}}"><p style="padding-left: 30px;">{{result}}</p></a>
                    {% endfor %}
                </div>
                {% endif %}
            </form>

            <!-- sugesstion keywords
                <ul class="search-suggestion">
                    <li><a href="#">추천검색어1</a></li>
                    <li><a href="#">추천검색어2</a></li>
                    <li><a href="#">추천검색어3</a></li>
                    <li><a href="#">추천검색어4</a></li>
                    <li><a href="#">추천검색어5</a></li>
                </ul>
            -->

            <!-- show alert message -->
            {% if msg is not None %}
            <b style="color: #ff9984;">{{msg}}</b>
            {% endif %}
        </div>
    </section>
    <!-- ======= End Hero ======= -->


    <!-- footer START -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Kelly</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- footer END -->



    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- JS files -->
    <!-- JS files of CSS tempaltes -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
</body>
</html>