{% extends 'base/index.html' %}
<!DOCTYPE html>
<html lang="ko">
{% load static %}

{% block content %}

  <!-- Template Comp CSS File -->
  <link href="{% static 'css/comp/comp.css' %}" rel="stylesheet">

  

<body>

    <!-- ======= Start comp Section ======= -->
    <div class="container">

      <p><a class="comp_name" href="comp_uid"></a>정보 검색결과</p>

      <div class="container d-flex justify-content-center align-items-center">
        <!-- comp_logo -->
        <div class="comp_logo">
          <a href=""><img src="/static/img/building.png" class="building"/></a>
        </div>
        <div class="comp_text">
          <p><b>기업명</b></p>
          <a>채용중 or 채용 종료</a>
        </div>

        

        <!-- pie chart -->
        <canvas id="myChart"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.js"></script>
        <!-- <script src="chart.js"></script> -->
      </div>


      

      <!-- info Table -->
      <link rel="stylesheet" href="../static/css/comp/comp.css">

      <table class="tbl">
        <caption>시간표</caption>
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>

        <thead>
            <tr>
                <th>대표</th>
                <td>김형선</td>
                <th>기업규모</th>
                <td>대기업</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>산업분류</th>
                <td>부품 도매업</td>
                <th>직원 수</th>
                <td>10억 명</td>
            </tr>
            <tr>
                <th>기업정보 1</th>
                <td>정보 answer</td>
                <th>기업정보 2</th>
                <td>정보 answer</td>
        </tbody>
      </table>

      <!-- news summarize list box -->
      <article>
        <dl>
            <div>
                <dd>中, 네이버 석달째 차단…당국은 '모르쇠'</dd>
            </div>
            <div>
                <dd>네이버, 6개월 만에 현금 반토막…투자 여력 급감</dd>
            </div>
            <div>
                <dd>네이버, 개인화 추천 기술 확대에 주가 '덩실덩실'</dd>
            </div>
            <div>
                <dd>"네이버웹툰 美 상장 예정"…관련주 상한가 직행</dd>
            </div>
            <div>
                <dd>네이버페이가 데이터센터 재해 발생 시에도 비상대응 훈련을 실시한다.</dd>
            </div>
            <div>
                <dd>"눈앞의 이익에만 치중하더니…" 네이버·카카오 입지 흔들린다</dd>
            </div>
        </dl>
      </article>
    </div>
    <!-- End comp Section -->

  </main>
  <!-- End #main -->


  <!-- Template Main JS File -->
  <script src="../static/js/comp/comp.js"></script>

</body>


</html>

{% endblock %}